<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue To Do List</title>
    <link rel="stylesheet" href="./css/app.css">
    <script src="https://kit.fontawesome.com/a14ed7ec88.js" crossorigin="anonymous"></script>
</head>
<body>

    <div id="app">
        <div class="container">
            <div>
                <input type="text" placeholder="scrivi nuova task" v-model="newTask">
                <button>AGGIUNGI TASK</button>
            </div>
            <div class="tasks">
                <ul>
                    <li :class="{'line-trought': task.done }" v-for="(task, index) in todos" :key="index">
                     {{task.text}}
                     <i @click="removeTask(task)" class="fa-solid fa-circle-xmark"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3"></script>
    <script src='./js/app.js'></script>
</body>
</html>